@using zc.Commons
@{
    ViewBag.Title = "账户流水";
}

<style>
    #tb {
        padding: 15px;
    }

    input, select {
        vertical-align: middle;
    }

    fieldset {
        border: 1px solid #ccc;
    }
</style>


<div id="tb">
    <fieldset>
        <legend>查询条件</legend>
        <form id="tbForm">
            <span>会员名称</span>
            <input name="userName" class="easyui-textbox">
            <span>手机号码</span>
            <input name="userPhone" class="easyui-textbox">
            <span>账户类型</span>
            <label><input checked="checked" type="radio" name="accType" value="@AccountConstants.GOLD" />金钻</label>
            @*<label><input type="radio" name="accType" value="@AccountConstants.SILVER" />银钻</label>*@
            <label><input type="radio" name="accType" value="@AccountConstants.BLUE" />银钻</label>
            @*<label><input type="radio" name="accType" value="@AccountConstants.TEATICKET" />茶票</label>*@
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" iconCls="icon-search" style="width: 80px;margin-left: 20px;">查询</a>
        </form>
    </fieldset>
</div>
<table id="tt" class="easyui-datagrid" style="width:98%;height:100%"
       toolbar="#tb" rownumbers="true" pagination="true"
       data-options="url:'@Url.Action("AccountLine", "User")',fitColumns:true">
    <thead>
        <tr>
            <th field="user_name" width="15%">会员名称</th>
            <th field="user_phone" width="18%">手机号码</th>
            <th field="acc_type" width="10%">账户类型</th>
            <th field="acc_record_type" width="10%">消费类型</th>
            <th field="cons_value" width="15%">消费金额</th>
            <th field="acc_record_time" width="20%">消费时间</th>
            <th field="acc_remark" width="15%">消费描述</th>
        </tr>
    </thead>
</table>
<script>
    // 将form data序列化为json object
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }

    function submitForm() {
        $('#tt').datagrid('load', $('#tbForm').serializeObject());
    }
</script>



