@using zc.Commons;

@{
    ViewBag.Title = "未审核提现记录";
}



<style>
    #tb span, .combobox-item {
        font-size: 16px;
    }

    #tb .query-input {
        line-height: 26px;
        border: 1px solid #ccc;
    }

    #tb input {
        font-size: 15px;
        vertical-align: middle;
    }

    .tbspan {
        padding-left: 20px;
    }

    .input-width {
        width: 10%;
    }

    .datagrid-header .datagrid-cell span {
        font-size: 15px !important;
    }

    .fitem {
        margin-bottom: 15px;
    }

        .fitem label {
            display: inline-block;
            width: 6em;
            text-align: right;
        }

    .easyui-textbox, .easyui-combobox {
        width: 180px;
    }
</style>

<div id="tb" style="padding:2%">
    <form id="tbForm">
        <span class="tbspan">提现类型：</span>
        <select id="cashType" name="cash_type">
            <option value="">全部</option>
            <option value="1">金钻提现</option>
            <option value="2">银钻提现</option>
            <option value="3">蓝钻提现</option>
        </select>

        <span class="tbspan">会员名称：</span>
        <input id="userName" name="user_name" class="input-width query-input ">
        
        <span class="tbspan">手机号码：</span>
        <input id="userPhone" name="user_phone" class="input-width query-input ">

        <span class="tbspan">起始日期：</span>
        <input id="userPhone" name="begin" class="input-width query-input easyui-datebox" data-options="sharedCalendar:'#cc'">

        <span class="tbspan">终止日期：</span>
        <input id="userPhone" name="end" class="input-width query-input easyui-datebox" data-options="sharedCalendar:'#cc'">

        <div id="cc" class="easyui-calendar">
        </div>

        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" iconCls="icon-search" style="width: 80px;margin-left: 20px;">查询</a>
    </form>
</div>
<table id="tt" class="easyui-datagrid" style="width:100%;height:100%"
      rownumbers="true" pagination="true" data-options="url:'@Url.Action("CashRecordNoAudit","User")',fitColumns:true,toolbar:toolbar">
    <thead>
        <tr>
            <th data-options="field:'cash_record_id',checkbox:true"></th>
            <th field="user_name" width="10%">会员名称</th>
            <th field="user_phone" width="15%">手机号码</th>
            <th field="cash_type" width="10%">提现类型</th>
            <th field="cash_money" width="10%">提现金额</th>
            <th field="shouxu_money" width="10%">手续费</th>
            <th field="cash_status" width="10%">状态</th>
            <th field="cash_time1" width="15%">申请时间</th>
        </tr>
    </thead>
</table>


<div id="dlg" class="easyui-dialog" style="width:600px;height:auto;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <form id="fm">
        <input type="hidden" name="cash_record_id" />
        <input type="hidden" id="isHave" name="cash_status" />
        <div class="fitem">
            <label>审核备注</label>
            <textarea name="cash_remark1"></textarea>
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" id="btnConfirm" iconCls="icon-ok" onclick="activeRecord()">确定</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>

<script>
    // 将form data序列化为json object
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }

    function submitForm() {
        $('#tt').datagrid('load', $('#tbForm').serializeObject());
    }

    var toolbar = [{
        text: '审核通过',
        iconCls: 'icon-edit',
        handler: function () {
            var checkedItems = $('#tt').datagrid('getChecked');
            var names = [];
            $.each(checkedItems, function (index, item) {
                names.push(item.cash_record_id);
            });
            if (names.length == 0) {
                $.messager.alert('系统提示', '请选择需要审核的数据');
                return;
            }
            //传递请求
            $.ajax({
                url: '@Url.Action("BachAuditCashRequest", "User")',
                type: "POST",
                data: { "recordIds": names ,"cash_status":"0"},
                success: function (data) {
                    if (data) {
                        $.messager.alert('系统提示', '操作成功', "info", function () {
                            location.reload();
                        });
                    } else {
                        $.messager.alert('系统提示', data.message);
                    }
                }
            });
        }
    }, '-', {
        text: '不通过审核',
        iconCls: 'icon-edit',
        handler: function () {
            var checkedItems = $('#tt').datagrid('getChecked');
            var names = [];
            $.each(checkedItems, function (index, item) {
                names.push(item.cash_record_id);
            });
            if (names.length == 0) {
                $.messager.alert('系统提示', '请选择需要审核的数据');
                return;
            }
            //传递请求
            $.ajax({
                url: '@Url.Action("BachAuditCashRequest", "User")',
                type: "POST",
                data: { "recordIds": names, "cash_status": "-1" },
                success: function (data) {
                    if (data) {
                        $.messager.alert('系统提示', '操作成功', "info", function () {
                            location.reload();
                        });
                    } else {
                        $.messager.alert('系统提示', data.message);
                    }
                }
            });
        }
    }];


    function generateOperations(val, row, index) {
        // 如果是待审核状态，才显示按钮
        if (row.cash_status == "待审核")
            return '<button data-rowindex="' + index + '" class="easyui-linkbutton" onclick="optionActiveForm(' + index + ',' + row.cash_record_id + ')">通过</button>&nbsp;&nbsp;<button data-rowindex="' + index + '" class="easyui-linkbutton" onclick="noActiveRecord(' + index + ',' + row.cash_record_id + ')">不通过</button>';
        if (row.cash_status == "待发放")
            return '已审核，待发放';
        return "";
    }

    var i = 0;
    function optionActiveForm(index,cashId) {
        i = index;
        $('#tt').datagrid('selectRow', index);
        var row = $('#tt').datagrid('getRows')[index];
        $('#dlg').dialog('open').dialog('setTitle', '通过审核提现');
        $('#fm').form('load', row);
        $("#cash_record_id").val(cashId);
        $("#isHave").val("@CashStatus.GIVEMONEY_WAITING");
    }
    var j = 0;
    function noActiveRecord(index, cashId) {
        j = index;
        $('#tt').datagrid('selectRow', index);
        var row = $('#tt').datagrid('getRows')[index];
        $('#dlg').dialog('open').dialog('setTitle', '拒绝审核提现');
        $('#fm').form('load', row);
        $("#cash_record_id").val(cashId);
        $("#isHave").val("@CashStatus.AUDIT_DENY");
    }

    //确定按钮功能
    function activeRecord() {
        $("#btnConfirm").removeAttr('onclick');
        $("#btnConfirm").hide();
        $.ajax({
            url: '@Url.Action("AuditCashRequest", "User")',
           type: "POST",
           data: $("#fm").serializeObject(),
           success: function (data) {
               //data = eval('(' + data + ')');
               if (data.code == 200) {
                   $('#tt').datagrid('updateRow', {
                       index: i,
                       row: data.data
                   });
                   $.messager.alert('系统提示', '审核成功');
                   $('#dlg').dialog('close');
                   $("#btnConfirm").attr("onclick", "activeRecord()");
                   $("#btnConfirm").show();
               } else {
                   $.messager.alert('系统提示', data.message);
               }
           }
         });
    }


</script>


