@using zc.Commons;
@{
    ViewBag.Title = "蓝钻查看";
}

@section style {

}

<header class="mui-bar mui-bar-nav">
    <!-- 防止history.back()回退到上一次查询金钻的页面 -->
    <a onclick="location.href = '@Url.Action("Center", "User")';" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">会员账户 - 蓝钻</h1>
</header>
<div class="mui-content">
    <h5 class="section-title">账户信息</h5>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>累计转入</th>
                <th>累计转出</th>
                <th>蓝钻余额</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.TotalIncome</td>
                <td>@ViewBag.TotalExpend</td>
                <td>@ViewBag.Balance</td>
            </tr>
        </tbody>
    </table>
    <h5 class="section-title">查询条件</h5>
    <form class="mui-input-group" id="searchForm">
        <div class="mui-input-row">
            <label>起始日期</label>
            <input name="dateBegin" value="@Request["dateBegin"]" type="text" class="mui-input-clear datepicker" placeholder="起始日期">
        </div>
        <div class="mui-input-row">
            <label>终止日期</label>
            <input name="dateEnd" value="@Request["dateEnd"]" type="text" class="mui-input-clear datepicker" placeholder="终止日期">
        </div>
        <div class="mui-input-row">
            <label>选择类型</label>
            <select id="acc_record_type" name="acc_record_type" value="@Request["acc_record_type"]" class="mui-input-clear" style="font-size:14px">
                <option value="">全部</option>
                <option value="3">系统补偿</option>
                <option value="6">系统扣除</option>
                <option value="10">金钻转入</option>
                <option value="11">银钻转入</option>
            </select>
        </div>
        <button type="submit" class="btn btn-block btn-success">查询</button>
    </form>
    <h5 class="section-title">查询结果</h5>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>类型</th>
                <th>蓝钻数</th>
                <th>日期</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in ViewBag.RecordList)
            {
                <tr>
                    <td>@AccRecordType.ToString(record.acc_record_type)</td>
                    @if (record.cons_type == -1)
                {
                        <td style="color:red;">@record.cons_value</td>
                    }
                    else
                    {
                        <td>@record.cons_value</td>
                    }

                    <td>@record.acc_record_time.ToString("yyyy/MM/dd")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section bottomScript{

    <script type="text/javascript">
        var datePicker = new mui.DtPicker({
            type: 'date'
        });
        $('.datepicker').click(function () {
            var $this = this;
            datePicker.show(function (rs) {
                $this.value = rs.text;
            });
        });

        $('#acc_record_type > option').each(function (i, e) {
            if (e.value == $('#acc_record_type').attr('value')) {
                e.selected = "selected";
            }
        });
    </script>
}